.project {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box; /* to include padding and border in the width and height */
    position: relative;


  }
  :root {
    --nav-height: 70px;
  }
  .project h1 {
    margin-top: var(--nav-height);
    color: #3e497a;
    font-size: 35px;
    text-align: center;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    justify-items: center;
    margin: 20px 0;
    width: 100%;
    max-width: 1000px;
  }

  .project video, .project img {
    width: auto; /* relative to the parent container */
    max-width: 500px; /* max width for large screens */
    height: auto; /* maintain aspect ratio */
    max-height: 500px; /* max height for large screens */
    border-radius: 10px;
    object-fit: cover; /* to ensure it covers the area */
  }
  .project-description {
    padding-left: 50px;
    padding-right: 50px;
  }
  .project p {
    font-size: 2vw; /* responsive font size */
    color: #3e497a;
    text-align: center; /* to center the text */
  }
  
  .project svg {
    margin-top: 20px;
    font-size: 3vw; /* responsive font size */
    color: #3e497a;
  }


  @media (max-width: 1200px) {
    .image-gallery {
        grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    }
  }
  @media (max-width: 768px) {
    .project h1 {
      font-size: 6vw;
    }
  
    .project p {
      font-size: 5vw;
    }
  
    .project svg {
      font-size: 8vw;
    }
  
    .project img, .project video {
      width: 90%; /* make the image larger on smaller screens */
    }
    .image-gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Revert to single column layout */
  }
  }
  